@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">مرحبا انا عبدالله </h1>
    <h1 class="display-4">welcome to my first project hopfully not the last </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
